<app-nav-bar1></app-nav-bar1>

  <div class="text-center m-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
       <div class="container mere ">


    <h1>We are at hear of apprapriate care</h1>
  </div>

<div class="container container2">
  <div class="row offset-2">
    <div class="img1 col-sm-5">
      <img src="/assets/R.png" class="card-img" alt="...">
    </div>
    <div class="col-sm-5">
      <img src="/assets/coach-icon-png-4.png" class="card-img" alt="...">
    </div>
  </div>
  <div class="row offset-2">



    <div class="card border-light col-sm-5 bg-light  bg-opacity-25">

      <div class="card-body text-center">
        <div>
            <p class="card-title"><a routerLink="/loginuser">Login as a User</a></p>
            <p class="card-title"><a routerLink="/createuser">Join as a User</a></p>
        </div>
      </div>
    </div>


    <div class="card border-light col-sm-5 bg-light  bg-opacity-25">

      <div class="card-body text-center">
       <div>
          <p class="card-title"><a routerLink="/logincoach">Login as a Coach</a></p>
        <p class="card-title"><a routerLink="/createcoach">Join as a Coach</a></p>

       </div>
      </div>

    </div>
  </div>
</div>
</div>